html, body{
    margin: 0;
    padding: 0;
}
#perkenalan {
    background-image: url('https://i.ytimg.com/vi/d-zKJCKsoWw/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    opacity: 100%;
}
#Welcome-Text {
    padding-top: 240px;
    word-spacing: 3px;
    margin: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px black;
}

ul.nav{
    position: sticky;
    top: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: end;
    background-color: black;
}

.nav > li {
    display: inline-block;
    margin: auto;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

.nav > li > a{
    padding: 2em 2em;
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: .5s;
}
.nav > li > a:hover{
    background-color: burlywood;
}
li.nav-icon {
    padding: 0;
    width: 45px;
    height: 5px;
    transform: scale(0.09);
    float: left;
}
#intro {
    background-image: url('https://www.cnet.com/a/img/pecM5xCV-zw0mXTSlBwpAbYuPLw=/2018/06/07/78e06ce4-81e0-4b35-992f-6a2b3585b931/mojave-night.jpg');
    background-attachment: fixed;
    background-size: cover;
   
}
#section-introduction {
    padding: 0 0;
}
hr {
    background-color: white;
    max-width: 1000px;
    height: 0.1cm;
    margin: 0 auto;
}
.introduce, .education, .working, .achievements, .certificates{
    text-align: center;
}
div.introduce .gambar-pribadi{
    border:2px solid #fff;
    box-shadow: 0px 6px 5px;
    -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
    margin-top: 3cm;
    height: 7cm;
    text-align: center;
}
.perkenalandiri, .edukasidiri, .codingdiri{
    color: white;
    font-size: 1.4em;
    width: 80%;
    max-width: 24em;
    margin: 1em auto;
    text-align: justify;
    text-shadow: 5px 5px black;
}
.education, .working, .achievements, .certificates{
    margin-left: auto;
    margin-right: auto;
    width: 49.5%;
    vertical-align: top;
    display: inline-block;
    margin-top: 5em;
}
.gambar-edukasi{
    border:2px solid #fff;
    -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
    box-shadow: 0px 6px 5px;
    max-width: 15em;
}
.gambar-working, .gambar-certificates {
    border:2px solid #fff;
    -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
    box-shadow: 0px 6px 5px;
    max-width: 15em;
}
#section-cv{
    background-image: url('./gunung.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.gambarcvku p{
    text-shadow: 5px 5px black;
    margin-top: 0;
    color: white;
    font-size: 50px;
}
.gambarcvku {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.gambar-cv {
    box-shadow: 10px 10px 5px grey;
    margin-top: 0cm;
    max-width: 45em;
    margin-bottom: 2cm;
}
#contact-me{
    margin-top: 0;
    text-shadow: 5px 5px black;
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#section-contactme {
    background-image: url('https://img.wallpapersafari.com/desktop/1600/900/17/43/5Bc4iA.jpg');
    vertical-align: top;
    background-attachment: fixed;
    background-size: cover;
}
#myForm, .contact-info {
    display: inline-block;
    width: 49.7%;
    text-align: center;
    vertical-align: top;
}

.classnama, .classemail, .classpesan{
    width: 85%;
    text-shadow: 3px 3px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: left;
    display: block;
    margin: 0 auto;
}

.classnama, .classemail, .classpesan > label {
    display: block;
    font-size: 1.2em;
}

#inputnama, #inputemail, #textpesan {
    width: 100%;
    margin: .5em 0;
    font-size: 1em;
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

#buttonsend{
    width: 85%;
    margin: 1em 0;
    text-shadow: 2px 2px black;
    border: none;
    background-color: burlywood;
    color: white;
    font-size: 1em;
    padding: 0.5em 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.gambar-contact {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    margin: 2em;
}
.contact-desktop {
    display: inline-block;
    vertical-align: middle;
}
.contacthp, .contactemail, .contactlinkedin {
    display: inline-block;
    min-width: 300px;
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-shadow: 3px 3px black;
}
footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 1.5em 0;
    font-size: 15px;
    text-shadow: 2px 2px black;
}

@media only screen and (max-width: 600px) {
    li.nav-icon {
        display: none;
    }
    ul.nav {
        text-align: center;
    }
    #myForm, .contact-info {
        width: 100%;
        text-align: center;
    }
    .contact-info {
        display: block;
        text-align: center;
        transform: translateX(-20px);
        padding-right: auto;
    }
    .gambar-cv{
        width: 90%;
    }
    .contacthp, .contactemail, .contactlinkedin {
        font-size: 15px;
    }
    .gambar-contact {
        vertical-align: middle;
        width: 35px;
        margin: 2em;
    }
    .education, .working, .achievements, .certificates{
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        width: 49.5%;
        display: block;
        margin-top: 5em;
    }
    #Welcome-Text {
        padding-top: 150px;
        word-spacing: 3px;
        margin: 0;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 35px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        text-shadow: 5px 5px black;
    }
    .perkenalandiri, .edukasidiri, .codingdiri{
        color: white;
        font-size: 1.4em;
        width: 80%;
        text-align: justify;
        text-shadow: 5px 5px black;
    }
    .gambar-edukasi{
            text-align: center;
    }
    .gambar-working, .gambar-certificates {
        text-align: center;
    }
    .introduce, .education, .working, .achievements, .certificates{
        text-align: center;
        width: 100%;
    }
    .nav > li > a{
        padding: 1.5em 1em;
        display: inline-block;
        text-decoration: none;
        color: white;
        transition: .5s;
    }
}